name: 一键获取黑苹果资源包
on:
  push:
jobs:
  download_and_upload:
    runs-on: ubuntu-latest
    steps:
      - name: Send email notification
        if: success()
        uses: dawidd6/action-send-mail@v2
        with:
          server_address: smtp.163.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Build Successful
          body: |
            如果您能收到这封邮件，则测试通过
          to: 20290786@qq.com
